.user-changepassword {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.user-changepassword-formContainer {
    width: 500px;
    height: auto;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    padding: 25px;
    z-index: 1000;
}

.user-changepassword-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user-changepassword-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.user-changepassword-label {
    font-weight: bold;
    font-size: 0.9rem;
    color: #555;
}

.user-changepassword-input {
    color: #333 !important;
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 0.9rem;
}

.user-changepassword-button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    background-color: #9D4EDD;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-changepassword-button:hover {
    background-color: #6a3497;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #333;
}

.button-container .button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.button-container .button:hover {
    background-color: rgb(255, 0, 0);
}

.user-changepassword-span {
    color: red;
    font-size: 0.85rem;
    margin-top: 10px;
    display: block;
}

@media (max-width: 480px) {
    .user-changepassword-formContainer {
        width: 90%;
    }
}
