/* Apply styles to the scrollbar */
::-webkit-scrollbar {
    width: 6px; /* Thin scrollbar */
    display: none;
    
  }
  
  /* Track (background of the scrollbar) */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Light gray for a clean look */
    border-radius: 10px;
  }
  
  /* Handle (the draggable scrolling part) */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Medium gray */
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker gray for hover effect */
  }

.user-profileUpdate {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}

.user-user-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.button-container {
    justify-self: end;
    justify-items: end;
    justify-content: end;
}

.button-container .button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.button-container .button:hover {
    background-color: rgb(255, 0, 0);
}

.user-formContainer {
    width: 500px;
    height: 500px;
    overflow-y: scroll;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    padding: 25px;
    z-index: 1000;
}

.user-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    gap: 15px;
}

.user-h1 {
    font-size: 1.8rem;
    margin-bottom: 0px;
    color: #333;
}

.user-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.user-label {
    font-weight: bold;
    font-size: 0.9rem;
    color: #555;
}

.user-input {
    color: #333 !important;
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 0.9rem;
    margin-bottom: 5px !important;
}

.user-button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 1rem;
    background-color: #9D4EDD;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-button:hover {
    background-color: #6a3497;
}

.cancel-button-user {
    margin-top: 20px;
    padding: 10px;
    width: 25%;
    margin-left: auto;
    font-size: 1rem;
    background-color: #8b197aeb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-span {
    color: red;
    font-size: 0.85rem;
    margin-top: 10px;
    display: block;
}



.file-input-label {
    display: inline-block;
    padding: 10px;
    font-size: 1rem;
    background-color: #9D4EDD;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.file-input-label:hover {
    background-color: #6a3497;
}

.delete-photo-button {
    width: 40%;
    padding: 8px;
    font-size: 0.8rem;
    background-color: #9D4EDD;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 0px;
}

.delete-photo-button:hover {
    background-color: #6a3497;

}

/* File input container */
.upload-photo-container {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
    margin-top: 15px;
}

/* File input styling */
.file-input {
    cursor: pointer;
    width: 60%;
    height: 50px;
    padding: 10px 20px;
    font-size: 1rem;
    border: 1px solid #9D4EDD;
    border-radius: 5px;
    background-color: white;
    color: #9D4EDD;
    transition: all 0.3s ease;
}

.file-input:hover {
    background-color: #f5e6ff;
    border-color: #6a3497;
}

/* Upload text styling */
.upload-photo-text {
    margin-left: 5px;
    font-size: 0.9rem;
    color: #555;
    text-align: center;
}

.subscription-info {
    margin-top: 0px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.subscription-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.subscription-type,
.subscription-expiration {
    font-size: 1rem;
    color: #555;
}

.upgrade-button {
    margin-top: 10px;
    background-color: #ff5722;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upgrade-button:hover {
    background-color: #e64a19;
}



@media (max-width: 480px) {
    .user-formContainer {
        width: 90%;
    }
}
